body{
  background-color: lightseagreen;
}

#first{
  display: block;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 20px 15px;
  height: 20px;

  background-color: #87CEFA;
  border-radius: 20px;
  border: #00BFFF 8px dashed;
  color: #ffffff;
  font-size: 18px;
  line-height: 2px;
}

#first:hover {
  background-color: #FFD700;
}

#second{
  display: none;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 20px 15px;
  height: 20px;

  background-color: #db25e8;
  border-radius: 20px;
  border: #52d9eb 8px dashed;
  color: #ffffff;
  font-size: 18px;
  line-height: 2px;
}

#second:hover {
  background-color:#ff02d9;
}

#fortune-cache{
  display: none;
}

#fortune-cookie-text{
  margin-left: 30px;
  margin-bottom: 25px;
  width: 420px;
  height: 150px;
  padding: 10px 10px;
  text-align: center;
  background-color: pink;
  border: lightgreen 10px dotted;
  font-family: "Arial";
  font-weight: bold;
}

#fortune-cookie-text h3{
  color: seagreen;
  font-family: "Verdana";
}

#other-fortunes-div{
  margin-left: 30px;
  max-height: 250px; 
  width: 420px;
  padding: 10px 10px;
  background-color: orange;
  border: red 10px dotted;
  font-family: "Times New Roman";
  overflow-y: auto; 
}

#other-fortunes-div h3{
  text-align: center;
  color: grey;
  font-family: "Lucida Console";
}

#statistics{
  margin-right: auto;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 600px;
  padding: 10px 10px;
  padding-bottom: 20px;
  background-color: orange;
  border: red 10px dashed;
  text-align: center;
  font-family: "Lucida Console";
}

#statistics h3{
  color: purple;
  font-family: "Times New Roman";
}

#total {
  font-weight: bold;
  font-style: oblique;
}