body{
  background-color: pink;
}

#first{
  display: block;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 16px 31px;
  height: 20px;

  background-color: #1ad1db;
  border-radius: 20px;
  border: #fc0f99 3px groove;
  color: #ffffff;
  font-size: 15px;
  line-height: 1px;
}

#first:hover {
  background-color:#040ce8;
}

#second{
  display: none;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 16px 31px;
  height: 20px;

  background-color: #db25e8;
  border-radius: 20px;
  border: #52d9eb 3px solid;
  color: #ffffff;
  font-size: 15px;
  line-height: 1px;
}

#second:hover {
  background-color:#ff02d9;
}

#fortune-cache{
  display: none;
}

#fortune-cookie-text{
  margin-left: 30px;
  margin-right: auto;
  margin-bottom: 50px;
  width: 320px;
  height: 100px;
  padding: 10px 10px;
  text-align: center;
  background-color: pink;
  border: lightgreen 10px inset;
  font-family: "Courier New";
  font-weight: bold;
}

#fortune-cookie-text h3{
  color: seagreen;
  font-family: "Georgia";
}

#other-fortunes-div{
  margin-left: 30px;
  margin-right: auto;
  max-height: 250px; 
  width: 320px;
  padding: 10px 10px;
  background-color: orange;
  border: red 10px outset;
  font-family: "Courier New";
  overflow-y: auto; 
}

#other-fortunes-div h3{
  text-align: center;
  color: grey;
  font-family: "Georgia";
}

#statistics{
  margin-right: auto;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 600px;
  padding: 10px 10px;
  padding-bottom: 20px;
  background-color: orange;
  border: red 10px ridge;
  text-align: center;
  font-family: "Courier New";
}

#statistics h3{
  color: purple;
  font-family: "Georgia";
}

#total {
  font-weight: bold;
  font-style: italic;
}